body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("./res/bg.jpg");
  background-size: 1900px 360px;
  background-repeat: no-repeat;
  background-color: whitesmoke;
}

h1 {
  color: white;
  display: block;
  position: fixed;
  left: 100px;
  top: 100px;
  letter-spacing: 8pt;
  font-size: 36pt;
}

input[type=button] {
  border: none;
  padding-left: 5px;
  background: none;
  color: #f7eeee;
  font-size: 20pt;
}

input[type=button]:active {
  color: azure;
  font-weight: bold;
}

label {
  color: black;
  font-size: 16pt;
}

ul {
  list-style: none;
  text-align: left;
  display: inline-block;
  padding: 0;
}

li {
  border-bottom: 1px solid lightgray;
  padding-bottom: 5px;
  padding-top: 5px;
}

input[type=checkbox] {
  visibility: hidden;
}


input[type=checkbox]:checked+label {
  text-decoration-line: line-through;
  text-decoration-color: grey;
  text-decoration-thickness: 2px;
  color: grey;
}

#addTask {
  display: flex;
  justify-content: center;
  align-items: center;
}

#addTask, input[type=text] {
  text-align: center;
  font-size: larger;
  height: 30px;
  padding-top: 5px;
  border-radius: 10px;
  width: 50%;
  height: 40px;
}

#taskBox {
  border: 1px;
  border-style: solid;
  border-color: lightgray;
  border-bottom: none;
  background-color: white;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  max-width: 25%;
  box-shadow: 2px 2px white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

label {
  position: absolute;
  text-align: center;
  max-width:  400px;
  max-height: 25px;
  word-wrap: break-word;
}

label::before {
  background-color: white;
  width: 20px;
  height: 20px;
  shape-outside: circle();
  clip-path: circle();
  content: "";
  border: 1px solid #6f1db3;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  left: -10px;
  top: 5px;
  z-index: 5;
}

label::after {
  background-color: #6f1db3;
  width: 22px;
  height: 22px;
  shape-outside: circle();
  clip-path: circle();
  display: inline-block;
  position: absolute;
  left: -10px;
  top: 5px;
  z-index: 10;
}

input[type=checkbox]+label::after {
  content: none;
}

input[type=checkbox]:checked+label::after {
  content: "";
}

.removeButton {
  position: absolute;
  right: 39%;
  padding-top: 10px;
}

.removeButton>button {
  border: none;
  background: none;
  padding: 0;
  font-size: larger;
}

#taskBoxStatus {
  display: flex;
  border: 1px solid lightgray;
  border-top: none;
  background-color: white;
  box-shadow: 2px 2px white;
  width: 100%;
  max-width: 25%;
  border-radius: 0px 0px 10px 10px;
  justify-content: flex-end;
  flex-wrap: wrap;
}

#taskBoxStatus #clearCompleted {
  padding: 5px;
  border: none;
  background: none;
  font-family: 'Courier New', Courier, monospace;
  color: grey;
  font-weight: bold;
  font-size: 10pt;
}

#taskBoxStatus #clearCompleted:hover {
  color: black;
  font-weight: bold;
}

#taskBoxStatus #clearCompleted:active {
  color: blue;
  font-weight: bold;
}
#wrapper {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 200px;
}
